ul {

    padding-left: 0;

}

li {

    display: block;
    float: left;
    width: 25%;
    border: 2px solid white;
    padding: 5px;
    height: 40px;
    background-color: #4A2DB6;
    color: white;

}